{% extends "home/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% block content %}



    {# Uses method defined in models.py to retrieve all upcoming events #}
    {# See also standard index for creating a listing with a tag #}
    {% with self.events.all as events %}
        {% if events %}



  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-12 events">
          <h2 class="card-title"><a href="/events">{% trans 'Latest Events' %}</a></h2>
        </div>
      </div>
      <div class="row">
         {% for event in events %}
            {% include "home/includes/home_event_list_item.html" %}
          {% endfor %}
       </div>
  </div>



        {% endif %}
    {% endwith %}


{% endblock %}
