appdirs==1.4.0
beautifulsoup4==4.5.3
certifi==2017.11.5
chardet==3.0.4
Django==1.11.23
django-bootstrap-form==3.2.1
django-extensions==1.7.6
django-modelcluster==3.1
django-modeltranslation==0.12.1
django-rosetta==0.7.13
django-taggit==0.22.1
django-treebeard==4.1.0
djangorestframework==3.9.1
html5lib==0.999999999
idna==2.6
microsofttranslator==0.8
olefile==0.44
packaging==16.8
Pillow==8.2.0
polib==1.0.8
psycopg2-binary==2.7.5
pyparsing==2.1.10
pytz==2016.10
requests==2.20.0
six==1.10.0
Unidecode==0.4.20
urllib3==1.24.2
uWSGI==2.0.17.1
wagtail==1.11.1
wagtail-modeltranslation==0.6.0rc2
webencodings==0.5
Werkzeug==0.11.15
Willow==0.4
docker-compose==1.22.0
