{% load wagtailcore_tags wagtailimages_tags %}


  <div class="col-lg-4 col-sm-12">
      <div class="event-card">
          {% if event.feed_image %}
          <div class="card-image">
            <a href="{% pageurl event %}">
              {% image event.feed_image width-500 as img %}
              <img class="card-img-top" style="width:100%" src="{{ img.url }}" alt="{{ event.title }}"/>
            </a>
          </div>
          {% endif %}
          <div class="card-content">
            <h4><a href="{% pageurl event %}">{{ event.title }}</a></h4>
              <div>
                  <h5 class="news-date">
                  <span><i class="fa fa-calendar"></i> {{ event.date_from|date:"F d, Y"  }} {% if event.date_to %} - {{ event.date_to|date:"F d, Y" }}{% endif %}</span>
                  </h5>
              </div>
          </div>
    </div>
  </div>

</div>

