
{% load wagtailcore_tags wagtailimages_tags %}

  <div class="col-lg-4 col-sm-12">
    <a href="{% pageurl event %}" aria-label="{{ event.title}}">
      <div class="event-card">
         {% if event.feed_image %}
          <div class="card-image">
              {% image event.feed_image width-500 as img %}
            <img class="card-img-top" style="width:100%" src="{{ img.url }}" alt="{{ event.title }}">
          </div>
          {% endif %}
          <div class="card-content">
            <h4>{{ event.title }}</h4>
               <div class="card-text"></div>
                  <h5 class="news-date">
                    {{ event.date_from|date:"F d, Y"  }} {% if event.date_to %} - {{ event.date_to|date:"F d, Y" }}{% endif %}
                  </h5>
          </div>
      </div>
    </a>
</div>



